{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<p>send comment</p>
<hr>
<form method="post">
{% csrf_token %}
<label for="">subject:</label>
<input type="text" name="subject">
<hr>
<br>
<label for="">comment:</label>
<textarea name="comment" id=""></textarea>
<hr>
<br>
<input type="submit" value="send">
<hr>
{% for comments in comment %}
<ul>
<li>{{comments.subject}}</li>
<li>{{comments.comment}}</li>
</ul>
{% endfor %}
</form>
</body>
</html>